.contact-form-section {
	padding: 100px 0;
	background: url('../img/contact-form-bg.jpg');
	background-size: contain;

    .contact-form-bg {
        @media screen and (max-width: 991px) {
		    display: none;
        }
	}

    .contact-form-card {
        background: #fff;
        position: absolute;
        top: 30px;
        left: -50px;
        padding: 30px;
        width: 100%;
        border-radius: 5px;

        @media screen and (max-width: 991px) {
            position: relative;
            top: 0;
            left: 0;
        }

        .contact-form-card-inner {
            border: 1px solid #000;
            padding: 20px;
            border-radius: 5px;

            h4 {
                text-transform: uppercase;
                padding: 10px 5px;
                margin-bottom: 20px;
                position: relative;
                margin: 10px auto;
                display: flex;
                align-items: center;
                column-gap: 1rem;
                max-width: 25rem;
                font-family: Arial, Helvetica, sans-serif;
                font-weight: 400;

                &::before,
                &::after {
                    flex: 1;
                    content: "";
                    height: .2rem;
                    border-block: .15rem solid #8e9193;
                }
            }

        }

        .form-input, textarea {
            width: 100%;
            padding: 5px 10px;
            margin: 0 0 15px 0;
        }
        
        .interested-input {
            height: 37px;
        }
        
        .contact-mail {
            margin: 10px;
        }
        
        .consent-notice {
            margin-bottom: 20px;
        }
    }

    .invalid-input {
        border: 2px solid red !important;
      }
}

#my-form-status {
    margin: 20px 0;
    text-align: center;
    display: flex;
    justify-content: center;
    width: 100%;

    .success-animation {
        svg {
            width: 24px;
            height: 24px;
        }

        .path {
            stroke-dasharray: 1000;
            stroke-dashoffset: 0;
        }

        .path.circle {
            -webkit-animation: dash 0.9s ease-in-out;
            animation: dash 0.9s ease-in-out;
        }

        .path.line {
            stroke-dashoffset: 1000;
            -webkit-animation: dash 0.9s 0.35s ease-in-out forwards;
            animation: dash 0.9s 0.35s ease-in-out forwards;
        }

        .path.check {
            stroke-dashoffset: -100;
            -webkit-animation: dash-check 0.9s 0.35s ease-in-out forwards;
            animation: dash-check 0.9s 0.35s ease-in-out forwards;
        }
      }
}

@-webkit-keyframes dash {
    0% {
      stroke-dashoffset: 1000;
    }
    100% {
      stroke-dashoffset: 0;
    }
}
@keyframes dash {
    0% {
      stroke-dashoffset: 1000;
    }
    100% {
      stroke-dashoffset: 0;
    }
}
@-webkit-keyframes dash-check {
    0% {
      stroke-dashoffset: -100;
    }
    100% {
      stroke-dashoffset: 900;
    }
}
@keyframes dash-check {
    0% {
      stroke-dashoffset: -100;
    }
    100% {
      stroke-dashoffset: 900;
    }
}
